*{
    margin: 0%;
    padding: 0%;
}
body{
    background-color: rgb(255, 255, 255);
}
nav {
    display: flex; /* Aplica flexbox no nav */
    color: white;
    gap: 40px; /* Espaçamento entre os links */
}
header{
    display: flex;
    background-color: rgb(0, 2, 102);
    height: 70px;
    align-items: center; /* Alinha o conteúdo verticalmente */
    
}
header h1{
    color: whitesmoke;
    margin-left: 20px;
    margin-top: 6px;
}
header h1:hover{
    color: #FF6347;
    transition: 0.4s;
    font-size: 30px;
}
header img{
    margin-left: 10px;
    width: 50px;
}
nav{
    margin-left: auto; /* Move os links para a direita */
    margin-top: 10px;
    margin-right: 30px;
}
nav a{
    color: aliceblue;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
nav a:hover{
    color: #FF6347;
    transition: 0.3s;
    font-size: 15px;
}
.primeiro{
    display: flex; 
    background-image: url(../img/dois.png);
    height: 600px; 
    align-items: center; 
    justify-content: space-between; 
    padding: 20px;
}
.bemvindo {
    flex: 1;
}
.bemvindo h2{ 
    color: white;
    font-size: 60px;
}
.bemvindo p{
    color: white;
    font-size: 20px;
}
.primeiro .bemvindo a{
    padding: 15px 30px; 
    background-color: #FF6347; 
    color: white; 
    font-size: 18px; 
    text-decoration: none;
     border-radius: 5px; 
    font-weight: bold;
}
.primeiro .bemvindo a:hover{
    background-color: #003cff;
    transition: 0.3s;
}
.imagem img {
    width: 500px; 
    height: auto;
    margin-right: 200px;
}
.segundo{
    background-color: blue;
    height: 800px;
}
.terceiro{
    background-color: #FF6347;
    height: 300px;
    display: flex;  
    align-items: center; 
    justify-content: space-between; 
    padding: 20px;
}
.primeiro .bemvindo{
    align-items: center;
    text-align: center;
}
.segundo{
    background-color: #ffffff;
}
.segundo h1{
    color: #FF6347;
    text-align: center;
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.cards-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 50px;
}
.card {
    background-color: #f0f0f0;
    padding: 20px;
    width: 250px;
    height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}
.card:hover {
    transform: scale(1.05); /* Efeito de aumento ao passar o mouse */
    box-shadow: 10px 10px #ff401e;
}
.card-middle {
    width: 300px; /* O card do meio será um pouco maior */
    height: 500px;
    background-color: #0c0074;
}
.card img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin-bottom: 10px;
}
.card h3 {
    margin-bottom: 10px;
}
.card p {
    text-align: center;
    color: #555;
}
button{
    padding: 15px 30px; 
    background-color: #131dac; 
    font-size: 18px; 
    text-decoration: none; 
    border-radius: 30px; 
    font-weight: bold;
}
button a{
    text-decoration: none;
    color: #f0f0f0;
}
button:hover{
    background-color: #ff2600;
    transition: 0.3s;

}
.card-middle button{
    background-color: #f0f0f0;
    color: #031657;
}
.card-middle button a{
    color: #001969;
}
.card-middle h3{
    color: #f0f0f0;
}
.terceiro .imgvolta img{
    width: 400px;
    margin-left: 100px;
}
.terceiro .volta{
    color: #f0f0f0;
    text-align: center;
    margin-right: 200px;
}
.terceiro .volta h2{
    font-size: 50PX;
}
.terceiro .volta p{
   font-size: 20px;
}
.terceiro .volta button{
color: #f0f0f0;
}
.quarta {
    height: 700px;
    background-image: url(../img/fundobranco.png);
}
.quarta h1{
    color: #001969;
    text-align: center;
    font-size: 60px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.quarta .escola img{
    width: 500px; 
    height: auto; 
    border-radius: 30px;

 
}
.quarta .escola{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;

}

.quarta .escola h3{
text-align: center;
font-size: 30px;
color: #001969;
font-family: Georgia, 'Times New Roman', Times, serif;
}
.quarta .escola p{
    text-align: center;
    text-align: 20px;
}
.quinto{
    height: 670px;
    display: flex; 
    background-image: url(../img/lapis.png);
    align-items: center; 
    justify-content: space-between; 
    padding: 20px;
}
.quinto .img-somos img{
width: 700px;
}
.quinto .somos{
    color: #ffffff;
    text-align: center;
}
.quinto .somos h2{
    font-size: 60px;
}
footer{
    background-color: #FF6347;
    color: white;
    height: 180px;
   
}
footer a{
text-decoration: none;
color: #f0f0f0;
font-size: 23px;
font-family: Georgia, 'Times New Roman', Times, serif;

}
footer .coisas{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 50px;
    margin-right: 100px;

}
footer p{
    text-align: center;
}
footer .coisas .direitos{
    margin-left: 1
}